body {
  font-family: Lucida Console, Monaco5, monospace;
  height: 100vh;
}

.verb-chal {
  width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.filter-list {

}

.expand-list {

}

.search {

}

input {
  width: 100%;
}

.scroll-list {
  height: 400px;
  overflow: scroll;
}

.button-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

button {
  width: 80px;
}
